
#nav-link:hover{
  color: #F2D26D !important;
}

#contact-input:hover{
  border-color: #F2D26D;
  background-color: #FEF6ED;
}
#contact-input:focus{
  border-color: #F2D26D;
  background-color: #FEF6ED;
}

#testi-button:hover{
  border-color: #F2D26D;
  background-color: #FEF6ED;
  color: #F2D26D;
}
#testi-button:focus{
  border-color: #F2D26D;
  background-color: #FEF6ED;
  color: #F2D26D;
}

/* #ECD444 */