
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  /* background-color: #FEF6ED;  */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}